h1{
    text-align: center;
    font-size: 80px;
   } 
   ol{
        display: table;
        margin: 0 auto;
        
   }
   .contmod{
    margin: 30px;
    font-size: 40px;
   }
   .down{
        display: inline-block;
        /*border: 2px solid yellow ;*/
        color:white;
    }
    #learn{
        font-size: 20px;
        font-weight: bold;
        background-color: rgb(246, 8, 8);
        width: 180px;
        height: 60px;
        border-radius: 40px;
        color: white;
    }
    #learn:hover{
        background-color: rgb(248, 12, 236);
        color: black;
    }
    body{
        background-color: rgb(11, 223, 246);
    }