h1{
    text-align: center;
    font-size: 200px;
}
.down{
    display: inline-block;
    position: absolute;
    left: 150px;
    bottom: 100px;
    /*border: 2px solid yellow ;*/
    color:white;
}
#learn{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(6, 183, 62);
    width: 180px;
    height: 60px;
    border-radius: 40px;
    color: white;
}
#learn:hover{
    background-color: rgb(9, 251, 97);
    color: black;
}
body{
    background-color: rgb(235, 252, 3);
}